<!DOCTYPE html>
#<html>
 # <head>
  #  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
 # </head>
#  <body>

<% provide(:title , 'Contact') %>
    <h1>Contact</h1>
    <p>
      The <a href="http://railstutorial.org/contact">Ruby on Rails Tutorial</a>
      is a project to make a book and screencasts to teach web development
      with contact.
    </p>
#  </body>
#</html>

